.popular-movies{
    width: 100%;
    display: block;
    color: #fff;
    overflow-x: scroll;
    font-family: 'Sulphur Point' ,sans-serif;
}
.popular-movies-heading{
    margin-bottom: 2rem;
    font-size: 3rem;
    letter-spacing: 2.5px;
}
.popular-movies-container{
    display: flex;
}
.popular-movies-card{
    text-transform: capitalize;
    margin: 0 1rem;
}
.movie-name{
    padding: 0 .5rem;
    margin-top: .5rem;
    font-size: 2rem;    
    letter-spacing: 1.5px;
    text-align: center;
}