.list {
  width: 100%;
  margin: 2rem 0;
  display: block;
  color: #fff;
  font-family: "Sulphur Point", sans-serif;
  position: relative;
}
.list-heading {
  opacity: 0;
  margin-bottom: 2rem;
  font-size: 3rem;
  letter-spacing: 2.5px;
}
.list-container {
  opacity: 0;
  padding: 1rem;
  display: flex;
  gap: 0 3rem;
  justify-content: space-between;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.list-container:hover {
  overflow-x: overlay; 
  /* for scroll bar */
}
.list-card {
  text-transform: capitalize;
  margin: 0 1rem;
}

.scroll-button {
  width: 5rem;
  height: 6rem;
  padding: 0.5rem;
  background: #1a1b20;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #525560;
  position: absolute;
  cursor: pointer;
}
.left-angle-icon-container{
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}
.right-angle-icon-container{
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}
.right-angle-icon {
  border-radius: 35px;
  font-size: 5rem;
  animation: left 1s infinite;
}
.left-angle-icon {
  border-radius: 35px;
  font-size: 5rem;
  animation: right 1s infinite;
}

/* animation */
@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(-0.5rem);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: translateX(0.5rem);
  }
}
@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(0.5rem);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: translateX(-0.5rem);
  }
}
