.card-main {
  height: 40rem;
  width: 100%;
  background-color: #252533;
  box-shadow: 0 0 3px #fff;
  border-radius: 25px;
  position: relative;
}
.carou{
  width: 14rem;
  height: 20rem;
  position: absolute;
  bottom: -10rem;
  background-color: blueviolet;
}
