.actor-card-container {
  margin: 0 1rem;
  text-transform: capitalize;
}
.actor-card {
  width: 14rem;
  height: 21rem;
  display: flex;
  align-items: center;
  background: #252533;
  box-shadow: 0 0 3px #fff;
  border-radius: 20px;
  overflow: hidden;
}
.actor-card > img{
  height: 100%;
}
.cast-name {
  width: 14rem;
  padding: 0 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  text-align: center;
  color: #fff;
}
