.card{
    width: 35rem;
    height: 20rem;
    background: #171722;
    border: 1px solid #525560;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.card::after{
    content: '';
    width: 40rem;
    height: 25rem;
    position: absolute;
    top: -25px;
    left: -25px;
    filter: blur(10px);
    box-shadow: inset 0 0 0 200px rgb(255 255 255 / 4%);
}