.thumbnail {
  width: 20rem;
  height: 30rem;
  background: #252533;
  box-shadow: 0 0 3px #fff;
  border-radius: 20px;
  box-sizing: content-box;
  overflow: hidden;
  cursor: pointer;
}

/* hover animation for thumbnail */
.thumbnail:hover > img {
  opacity: 0.6;
  transform: scale(1.1);
  transition: all 0.4s;
}
.thumbnail:not(:hover) > img {
  transition: all 0.3s;
}
