@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&amp;family=Roboto:wght@100&amp;display=swap");

/* global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body {
  background: #1a1b20;
}

section {
  /*TOP      left*/
  /*bottom   right*/
  padding: 3.9rem 0;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
::-webkit-scrollbar-button {
  display: block;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: auto;
}

li {
  list-style: none;
}

header {
  width: 100%;
  background: rgba(26, 27, 32, 95%);
  border-bottom: 1px solid #525560;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  overflow: hidden;
  transition: all 0.6s;
}
header::before {
  content: "";
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 200px rgb(255 255 255 / 4%);
  filter: blur(75px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* If images aren't available */
.image-icon {
  font-size: 12rem;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 3rem;
}
.container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Hero start */
.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
}
.hero-content {
  overflow: hidden;
  position: absolute;
  top: 14rem;
}
/* Hero ends */

/* nav start */
.nav {
  height: 10.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* logo */
.logo {
  width: 12.8rem;
  margin: 1rem 0;
}

/* home icon */
.home-icon {
  padding: 0.5rem;
  font-size: 3.5rem;
  display: flex;
  position: relative;
  left: 5%;
  color: #fff;
  cursor: pointer;
}
.home-icon:hover {
  border-radius: 100%;
  box-shadow: 0 0 6px #6d85ab;
}

/* search bar */
.search-container {
  width: 300px;
  height: 50px;
  margin-right: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-bar {
  width: 100%;
  height: 40px;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  border-radius: 40px;
  border: 3px solid transparent;
  background-color: rgba(255, 255, 255, 0.9);
  outline: none;
}
.search-bar:focus {
  border-radius: 40px;
  border: 2px solid #449cc5;
  box-shadow: 0 0 6px #449cc5;
  background-color: rgba(255, 255, 255);
}
.search-icon-container {
  width: 45px;
  height: 45px;
  color: #fff;
  margin-left: 1rem;
  padding: 0.5rem 0.8rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.search-icon-container:hover {
  border-radius: 100%;
  box-shadow: 0 0 6px #6d85ab;
}
.search-icon {
  font-size: 3rem;
}

/* Drop down Nav bar button */
.drop-down {
  width: 45px;
  height: 45px;
  font-size: 4rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 2%;
  top: 2%;
  color: #fff;
  border-radius: 100%;
  box-shadow: 0 0 6px #6d85ab;
  cursor: pointer;
  z-index: 4000;
  animation: blink .09s ease-in-out infinite;
}
.drop-down:hover{
  animation: unset;
}

/* nav ends */

/* single media page */
.media-name-container {
  width: 100%;
  padding: 0.5rem;
}
.media-name {
  margin: 0.5rem;
  border-radius: 20px;
  border: 2px solid #6d85ab;
  box-shadow: 0 0 5px #6d85ab;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  animation: blink 0.5s ease-in-out infinite;
}
.med-name-p {
  padding: 1rem;
  font-family: "Sulphur Point", sans-serif;
  font-size: 5rem;
  letter-spacing: 1px;
  text-align: center;
}
.media-details {
  width: 100%;
  padding: 0.5rem;
  display: flex;
}
/* single media page ends */

/* search movie page */
.no-result-found {
  margin-bottom: 10rem;
  font-family: "Sulphur Point", sans-serif;
  font-size: 3rem;
  letter-spacing: 3px;
  color: #fff;
}
.media-type-button-container {
  margin: 0.5rem 0 3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6e747e;
}
.media-type-button {
  width: 130px;
  padding: 0.5rem;
  margin: 0.5rem 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6e747e;
  border: 2px solid #6d85ab;
  border-radius: 10px;
  cursor: pointer;
}
.media-type-button:hover {
  background-color: transparent;
  color: white !important;
  box-shadow: 0 0 5px #6d85ab;
  transition: all 0.5s;
}
.media-type-button-active {
  pointer-events: none;
  background-color: transparent;
  color: white;
  box-shadow: 0 0 5px #6d85ab;
}
/* search movie page ends */

/* Error page */
.error {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  border-radius: 20px;
  box-shadow: 0 0 5px #6d85ab;
  animation: blink 0.3s ease-in-out infinite;
}
.error > p {
  padding: 2rem;
  margin: 1rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  border-bottom: 1px solid #6e747e;
}
/* Error page ends */

/* media Queries */
@media screen and (min-width: 1600px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 1800px) {
  html {
    font-size: 14px;
  }
}
/******** For Big Screens***********/
/*
 Due to separate css files for components 
 we need to mention !important in styles
*/
@media screen and (max-width: 1000px) {
  html {
    font-size: 9px;
  }
  .list-container {
    overflow-x: scroll !important;
  }
}
@media screen and (max-width: 930px) {
  html {
    font-size: 8.5px;
  }
}
@media screen and (max-width: 880px) {
  html {
    font-size: 8.2px;
  }
  /* scroll width */
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
}
@media screen and (max-width: 850px) {
  html {
    font-size: 8px;
  }
}
@media screen and (max-width: 830px) {
  .media-details {
    flex-direction: column;
    align-items: center;
  }
  .media-details > .card-main {
    width: unset !important;
    margin: 3rem 0 !important;
  }
  .MediaDetailsCard {
    width: 90% !important;
  }
  .info-container {
    flex-direction: column;
    gap: 4rem 0;
    align-items: center;
    justify-content: space-around;
  }
  .rating-container {
    width: 75% !important;
  }
  .trailer {
    width: 50% !important;
  }
}
@media screen and (max-width: 800px) {
  .nav {
    height: 20rem;
    padding: 2rem 0;
    align-items: flex-end;
    justify-content: center;
  }
  .home-icon {
    position: initial;
    margin-right: 1.5rem;
    display: initial;
  }
  .logo {
    top: 5%;
  }
  .hero-content {
    top: 25rem;
  }
  .search-bar {
    height: 35px;
  }
  .search-icon {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 650px) {
  html {
    font-size: 7.5px;
  }
  .home-icon {
    font-size: 4rem;
  }
  .home-icon {
    font-size: 4rem;
  }
  .search-container {
    margin-left: 2rem;
  }
  .search-icon {
    font-size: 4rem;
  }
}
@media screen and (max-width: 550px) {
  html {
    font-size: 7px;
  }
  .home-icon {
    margin-right: initial;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 6.5px;
  }
  .nav {
    height: 22rem;
  }
  .hero-content {
    top: 28rem;
  }
  .home-icon {
    font-size: 4.5rem;
  }
  .thumbnail-card {
    width: 18rem !important;
  }
}
@media screen and (max-width: 415px) {
  .trailer {
    font-size: 2rem !important;
  }
  .media-type-button {
    width: 100px;
  }
}
/* media Queries ends */

/* Animations */
.animateLeftReveal {
  opacity: 0;
  animation: textRevealFromLeft 1.2s linear 0.5s forwards;
}

.media-details > .card-main {
  opacity: 0;
  animation: scaleElement 0.8s ease-in-out 2s forwards;
  transform-origin: left top;
}
.home > .card-main {
  opacity: 0;
  animation: scaleElement 0.8s ease-in-out 0.5s forwards;
  transform-origin: center;
}

.plot {
  opacity: 0;
  animation: revealFromTop 1s ease-in-out 2s forwards;
}

.rating-container {
  opacity: 0;
  animation: revealFromTop 1s ease-in-out 2.4s forwards;
}

.info-container > a {
  opacity: 0;
  animation: revealFromTop 1s ease-in-out 2.8s forwards;
}

@keyframes blink {
  0% {
    box-shadow: 0 0 4px #6d85ab;
  }
  50% {
    box-shadow: 0 0 8px #6d85ab;
  }
  100% {
    box-shadow: 0 0 4px #6d85ab;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textRevealFromLeft {
  from {
    opacity: 1;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes scaleElement {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes revealFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
  }
  80% {
    transform: translateY(10%);
  }
  100% {
    opacity: 0.9;
    transform: translateY(0);
  }
}
