@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&amp;family=Roboto:wght@100&amp;display=swap");

/* global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: #1a1b20;
}

section {
  /*TOP      left*/
  /*bottom   right*/
  padding: 3.9rem 0;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
::-webkit-scrollbar-button {
  display: block;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: auto;
}

li {
  list-style: none;
}

header {
  width: 100%;
  background: rgba(26, 27, 32, 95%);
  border-bottom: 1px solid #525560;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  overflow: hidden;
  transition: all 1s;
}
@keyframes navShow {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}
header::before {
  content: "";
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 200px rgb(255 255 255 / 4%);
  filter: blur(75px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* If images aren't available */
.image-icon{
  font-size: 12rem;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}
.container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Hero starts */
.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
}
.hero-content {
  position: absolute;
  top: 14rem;
}
/* Hero ends */

/* nav */
.nav {
  height: 10.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav > .logo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* logo */
.logo {
  width: 12.8rem;
  margin: 1rem 0;
}

/* home icon */
.home-icon {
  padding: 0.5rem;
  font-size: 3.5rem;
  display: flex;
  position: relative;
  left: 5%;
  color: #fff;
  cursor: pointer;
}
.home-icon:hover {
  border-radius: 100%;
  box-shadow: 0 0 6px #6d85ab;
}

/* search bar */
.search-container{
  width: 300px;
  height: 50px;
  margin-right: 2rem;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-bar {
  width: 100%;
  height: 40px;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  border-radius: 40px;
  border: 3px solid transparent;
  background-color: rgba(255, 255, 255, 0.9);
  outline: none;
}
.search-bar:focus {
  border-radius: 40px;
  border: 3px solid #449cc5;
  box-shadow: 0 0 6px #449cc5;
  background-color: rgba(255, 255, 255);
}
.search-icon-container{
  width: 45px;
  height: 45px;
  color: #fff;
  margin-left: 1rem;
  padding: .5rem;
  padding: .5rem .8rem .5rem .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.search-icon-container:hover{
  border-radius: 100%;
  box-shadow: 0 0 6px #6d85ab;
}
.search-icon{
  font-size: 3rem;
}

/* menu toggler */
.menu {
  display: none;
  font-size: 4.5rem;
  position: absolute;
  right: 8%;
  background: transparent;
  color: #fff;
  z-index: 2500;
}
.menu-close {
  display: none;
  color: rgb(255, 38, 0);
}

/* nav links */
.nav-links {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  cursor: pointer;
}
.link {
  padding: 0 5px 5px;
  margin: 0 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
}
.link:hover {
  color: #c9a570;
  transition: color 0.5s;
}
/* nav ends */

/* single movie page */
.media-name-container {
  width: 100%;
  padding: 0.5rem;
}
.media-name {
  margin: 0.5rem;
  font-family: "Sulphur Point", sans-serif;
  font-size: 5rem;
  letter-spacing: 1px;
  border-radius: 20px;
  border: 2px solid #6d85ab;
  box-shadow: 0 0 5px #6d85ab;
  text-align: center;
  color: white;
}
.media-details {
  width: 100%;
  padding: 0.5rem;
  display: flex;
}
/* single movie page ends */

/* search movie page */
.media-type-button-container{
  margin: 2rem 0 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6e747e;
}
.media-type-button{
  width: 120px;
  padding: .5rem;
  margin: .5rem 1.5rem;
  font-family: 'Roboto' , sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6e747e;
  border: 2px solid #6d85ab;
  border-radius: 10px;
  cursor: pointer;
}
.media-type-button:hover{
  background-color: transparent;
  color: white;
  box-shadow: 0 0 5px #6d85ab;
  transition: all .5s;
}
.media-type-button-active{
  pointer-events: none;
  background-color: transparent;
  color: white;
  box-shadow: 0 0 5px #6d85ab;
  /* background: #858396;
  border: 2px solid #ffa36e;
  box-shadow: 0 0 3px #ffa36e; */
}
/* search movie page ends */