@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&amp;family=Roboto:wght@100&amp;display=swap");

/* global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body{  
  background: #1a1b20;
}

section {
  /*TOP      left*/
  /*bottom   right*/
  padding: 3.9rem 0;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
::-webkit-scrollbar-button{
  display: block;
}

.popular-media-container::-webkit-scrollbar{
  display: none;
}
.popular-media-container:hover::-webkit-scrollbar{
  display: unset;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  width: 100%;
  background: #1a1b20;
  border-bottom: 1px solid #525560;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}
.container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Hero starts */
.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
}
.hero-container {
  position: absolute;
  top: 12rem;
}
/* Hero ends */

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.logo {
  width: 12.8rem;
  margin: 1rem 0;
}
.logo {
  cursor: pointer;
}

/* menu toggler */
.menu {
  display: none;
  font-size: 4.5rem;
  position: absolute;
  right: 8%;
  background: transparent;
  color: #fff;
  z-index: 2500;
}
.menu-close {
  display: none;
  color: rgb(255, 38, 0);
}

/* nav links */
.nav-links {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  cursor: pointer;
}
.link {
  padding: 0 5px 5px;
  margin: 0 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
}
.link:hover {
  color: #c9a570;
  transition: color 0.5s;
}
/* nav ends */
